.search-card-container{
    height: 270px;
    background: #E6F7FF;
    border-radius: 16px;
    margin: 55px 100px 0px 90px;
}

.search-card-content{
    margin-top: 65px;
    margin-left: 95px;
}


.search-title{
    margin: 0;
    padding-top: 65px;

    font-family: Roboto;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
}

.form-control{
    margin-top: 15px;
    margin-bottom: 25px;

    height: 40px;
    width: 675px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
}