.content{
    height: 100vw;
    padding-top: 120px;
    padding-left: 120px;
    font-family: 'Red Hat Display';

      
}

.div-tittle {
    margin: 0;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.02em;
    color: #062847;
    font-weight: bold;
}

.description{
    margin-top: 25px;
    width: 612px;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
    margin-bottom: 50px;
}

.btn{
 
}