.btn{
    border: none;
    cursor: pointer;
    background: #1890FF;
    border-radius: 4px;
    height: 40px;
    width: 100px;
    
}

.btn-text{
    margin: 0;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}